{
	"reportUnusedDisableDirectives": true,
	"extends": ["plugin:prettier/recommended", "prettier"],
	"plugins": ["prettier"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	}
}
