.el-loading-parent--relative {
	position: relative !important;
}

.el-loading-parent--hidden {
	overflow: hidden !important;
}

.el-loading-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2023;
}

/* hack: when spin has children */
.el-loading-mask .ant-spin-nested-loading {
	top: 50%;
	left: 50%;
	transform: translate(-50%);
}

.el-loading-mask .el-loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.el-loading-mask.is-fullscreen {
	position: fixed;
}

