.el-loading-common-mask {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	font-size: 20px;
}

.el-loading-absolute-mask {
	position: absolute;
}

.el-loading-fixed-mask {
	position: fixed;
}

.antd-loading-html--hidden {
	overflow: hidden !important;
}

.antd-targetDOM-position {
	position: relative;
}
